#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  position: absolute;
  background-color:white;
  width: 500px;
  height: auto;
}

.login-form-modal {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.modal-login__button {
  max-width: 120px;
  margin: 20px;
  border: none;
  color:black;
  background-color: rgb(250, 239, 182);
  border-radius: 20%;
  font-size: 24px;
}
