/* TODO Add site wide styles */

.test{
    border: 1px solid red;
}

.reviewDiv{
    border: 1px solid green;
}

/* TESTS ABOVE */
body {
    font-family: 'Courier New', Courier, monospace;
}

















.profile__container {
    display: flex;
    align-items: center;
}

.profilebutton {
    height: 35px;
}

.profile-dropdown {
    margin-left: 0px;
}

.splash__wrapper {
    /* width: 70%;
    height: 500px; */
    position: absolute;
    width: 100%;
    height: 100%;
    /* border-radius: 15px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* margin-left: auto;
    margin-right: auto; */
    border: 1px solid black;
    background-image: url('./components/Splash/splash.jpg');
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

.splash__searchbar-container {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    margin: 15px auto;
    border-radius: 25px;
    height: 40px;
    align-items: center;
    background-color: white;
    padding-left: 7px;
    padding-right: 7px;
    /* need to do mediaquery for smaller than full screen. looks like trash on small screens. */
}

.splash__searchbar,
.splash__guests,
.splash__startdates,
.splash__enddates,
.splash__checkin,
.splash__checkout {
    border:none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: grey;
}

.splash__tisements-container {
    display: flex;
    justify-content: space-around;
    background-color:white;

}

.splash__tisements-container--toprated,
.splash__tisements-container--signup,
.splash__tisements-container--lastbooked {
    border: 1px solid black;
    color: black;
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer__wrapper{
    display: flex;
    position: fixed;
    bottom: 0;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-top: 12px;
    justify-content: center;
    width: 100%;
}

.footer__links{
    display: flex;
}

.footer__links--github {
    font-size: 24px;
    color: blue;
    margin: 5px;
}

.footer__links--linkedin {
    font-size: 24px;
    color: black;
    margin-left: 10px;
    margin: 5px;
}

.nav-links-container {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    padding-bottom: 7px;
}

.Navbar-link:hover {
    cursor:pointer;
    font-weight: bold;
}
.Navbar-link {
    text-decoration: none;
    color: black;
    margin: auto 7px;
}

.navbar-button {
    border: 0;
    background-color:white;
}

.profile-button {
    height: 25px;
}
